.cor-navbar {
    background-color: #FFA6E6;
}

.logo {
    color: #F900B3;
}

.cor-botao {
    background-color: white;
    height: 20px;
}

.texto-botao {
    margin-top: -15px;
}

body {
    margin: 0;
}

.secao {
    padding: 61px;
}

.titulo-secao {
    color: #F900B3;
    text-align: center;
    margin-bottom: 60px;
}

.container {
    display: flex;
    justify-content: center;
}

.rodape {
    background-color: #C4C4C4;
    text-align: center;
    color: white;
    position:absolute;
    bottom:0;
    width:100%;
}